@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.cdnfonts.com/css/sofia-sans-condensed');
@import url('https://fonts.cdnfonts.com/css/fjalla-one-2');

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    /* font-family: 'Sofia Sans Condensed', sans-serif; */
    /* font-family: 'Fjalla One', sans-serif; */
    font-weight: 400;
    background-color: rgb(0, 0, 0);
}

.canvas-container {
    position: relative;
    width: 25%;
    /* 화면의 1/4 크기 */
    float: left;
    height: 100vh;
}

.canvas-text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 60px;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    text-overflow: clip;
    word-break: break-word;
    white-space: normal;
    height: 500px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(0deg, rgb(0, 0, 0) 1.52%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    padding: 50px;
    width: calc(100% - 100px);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    filter: blur(0px);
    transition: all 2s ease-in-out;
}

.canvas-text.hide {
    bottom: -500px;
    opacity: 0;
    filter: blur(100px);
}

/* .gradient {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 300px;
    left: 0px;
    background: linear-gradient(0deg, #00000099 1.52%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
} */

canvas {
    width: 100%;
    height: 100%;
}